<!DOCTYPE html>

<html lang="end">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find Image By Colors - 0.1.0</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <h1>Find Image By Colors - 0.1.0</h1>
</body>